<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	syntaxCheck="true"
	>
	<php>
		<ini name="error_reporting" value="-1" />

		<!--<const name="WINDWALKER_TEST_HTTP_URL" value="http://localhost:8100" />-->

		<!--<const name="WINDWALKER_TEST_DB_DSN_MYSQL"  value="host=localhost;dbname=windwalker_test;user=root;password=ut1234;prefix=ww_" />-->
		<!--<const name="WINDWALKER_TEST_DB_DSN_POSTGRESQL"  value="host=localhost;dbname=windwalker_test;user=root;password=ut1234;prefix=ww_" />-->
		<!--<const name="WINDWALKER_TEST_DB_DSN_ORACLE" value="host=localhost;port=5432;dbname=windwalker_test;user=root;password=ut1234;prefix=ww_" />-->
		<!--<const name="WINDWALKER_TEST_DB_DSN_SQLSERVER" value="host=localhost;port=1521;dbname=windwalker_test;user=root;password=ut1234;prefix=ww_" />-->
		<!--<const name="WINDWALKER_TEST_DB_DSN_SQLITE" value="dbname=tmp/test.db;prefix=ww_" />-->

        <!--<env name="REDIS_ENABLED" value="1" />-->
        <!--<env name="MEMCACHED_ENABLED" value="1" />-->
        <!--<env name="SWOOLE_ENABLED" value="1" />-->
	</php>

	<testsuites>
		<testsuite name="Unit">
			<directory>packages/*/test</directory>
		</testsuite>
	</testsuites>

<!-- Code Coverage -->
<!--    <filter>-->
<!--        <whitelist processUncoveredFilesFromWhitelist="true">-->
<!--            <directory suffix=".php">packages</directory>-->
<!--            <exclude>-->
<!--                <directory suffix=".php">packages/*/test</directory>-->
<!--                <directory suffix=".php">packages/*/.ide</directory>-->
<!--                <directory suffix=".php">packages/*/resources</directory>-->
<!--                <file suffix=".php">packages/utilities/src/weak_reference.php</file>-->
<!--            </exclude>-->
<!--        </whitelist>-->
<!--    </filter>-->
</phpunit>
