/* Modal For Joomla!2.5 */

.modal .close {
    display: none ;
}

.modal .modal-footer {
    text-align: right ;
    border-top: 1px solid #ccc;
    padding: 15px 15px 25px 15px;
    position: absolute ;
    bottom: 1px;
    width: 558px;
}

.modal h3 {
    font-size: 22px;
}

.modal fieldset {
    border: none ;
}