<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/bootstrap.php" colors="false">
	<!-- These constants help setup environment configurations for running optional tests.
	<php>
		<const name="DB_HOST" value="localhost" />
		<const name="DB_USER" value="user" />
		<const name="DB_PASSWD" value="ut1234" />
		<const name="DB_DBNAME" value="windwalker_datamapper" />
	</php>
	-->

	<testsuites>
		<testsuite name="Unit">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>