name: PHP Composer

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        php-versions: [ '8.0' ]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379/tcp
        options: --health-cmd="redis-cli ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v2
      # Memcached
      - name: Setup Memcached
        uses: KeisukeYamashita/memcached-actions@v1
      # MySQL
      - name: Setup MySQL
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: 5.7
          mysql database: windwalker_test
          mysql root password: ut1234
      # PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: redis, php-memcached, pdo, pdo_mysql
      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install dependencies
        run: composer update --prefer-dist --prefer-stable   --no-progress --no-suggest --ignore-platform-reqs

      - name: Run test suite
        run: php vendor/bin/phpunit --configuration phpunit.ci.xml
