/*!
 * Windwalker CSS
 *
 * Copyright 2013 Asikart.com
 * License GNU General Public License version 2 or later; see LICENSE.txt, see LICENSE.php
 *
 * Generator: AKHelper
 * Author: Asika
 */


/* FORM */
.joomla25 .control-group {
    min-height: 30px;
    margin: 10px;
}

.control-group .star {
    color: red;
}

#editor-xtd-buttons {
    float: none;
}

.wf_editor_toggle,
.mceEditor {
    float: left;
    width: 100%;
}




/* MODAL */
.admin div.modal,
.admin div.modal-body,
.windwalker div.modal,
.windwalker div.modal-body{
    overflow: visible;
}

.cursor-pointer {
    cursor: pointer;
}


/* TABLE LIST */
.quick-edit-hover:hover {
    background-color: yellow ;
}

.quick-edit-selected {
    border: 1px solid blue !important;
    m/argin: -1px;
}

#search-bar label {
    margin-top: 4px;
    display: inline-block;
    margin-left: 7px;
}

.joomla25 #search-bar button {
    margin-top: 1px;
    display: inline-block;
}


/* BATCH */
.joomla25 .control-group label#batch-language-lbl,
.joomla25 .control-group label#batch-user-lbl ,
.joomla25 .control-group select#batch-language-id {
    margin-top: 5px;
}




/* Joomla! 3.0 */
.joomla30 input.required {
    background-color: #d5eeff;
}