name: PHP Composer

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        php-versions: [ '8.0' ]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379/tcp
        options: --health-cmd="redis-cli ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v2
      - uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: '5.7' # Optional, default value is "latest". The version of the MySQL
          mysql database: 'windwalker_test' # Optional, default value is "test". The specified database which will be create
          mysql root password: ut1234 # Required if "mysql user" is empty, default is empty. The root superuser password
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: |
            mbstring, intl, sodium, fileinfo, pdo, pdo_mysql, pdo_pgsql, mysqli
#          coverage: xdebug
#          tools: php-cs-fixer, phpunit
      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          # Use composer.json for key, if composer.lock is not committed.
          # key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --ignore-platform-reqs

      - name: Start PHP Server
        run: php -S localhost:8100 bin/test-server.php &> /dev/null &

      - name: Run test suite
        run: php vendor/bin/phpunit --configuration phpunit.ci.xml
